<!DOCTYPE html>
<html lang='en' style="height: 100%;">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="css/box.css">
		<link rel="stylesheet" type="text/css" href="css/text.css">
		<link rel="stylesheet" type="text/css" href="css/countdown.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="stylesheet" type="text/css" href="css/profile.css">
		<link rel="stylesheet" type="text/css" href="css/coolbutton.css">
		<link rel="stylesheet" type="text/css" href="css/rvslider.min.css">
		<link rel="stylesheet" type="text/css" href="css/team.css">
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113035060-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){
				dataLayer.push(arguments);
			}
			gtag('js', new Date());

			gtag('config', 'UA-113035060-1');
		</script>

		<title>TEDxIIITD</title>
	</head>
	<body style="height: 100%;">
		<div style="background: black;" id="mainsection" class="scrolll">
			<div id="navigationbarcontainer" class="container-fluid" style="border: 2px solid black; border-top: 0px; border-bottom: 0px; padding: 0px;">
				<div style="padding: 0px; margin: 0px;">
					<div align="center" style="padding-top: 10px;">
						<div class="nav navbar container navbar-expand-lg navbar-light" style="border-radius: 5px; background: white;">
							<a class="navbar-brand" href="/" style="border-bottom: 0px;">
								<img src="img/logosmaller.png" alt="TEDxIIITD - Shifting Paradigms" height="70">
							</a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
								<ul class="navbar-nav">
									<li class="nav-item">
										<a class="nav-link" href="past.html" style="font-family: 'Work Sans', sans-serif; border-bottom: 0; cursor: pointer;">Past Speakers </a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="partners.html" style="font-family: 'Work Sans', sans-serif; border-bottom: 0;">Partners</a>
									</li>
									<li class="nav-item">
											<a class="nav-link" href="adventures.html" style="font-family: 'Work Sans', sans-serif; border-bottom: 0;">Adventures</a>
									</li>
									<!-- <li class="nav-item">
										<a class="nav-link" href="underconstruction.html" style="font-family: 'Work Sans', sans-serif; border-bottom: 0;">Tickets</a>
									</li> -->
									<li class="nav-item">
										<a class="nav-link" href="team.html" style="font-family: 'Work Sans', sans-serif; border-bottom: 0;">Team</a>
									</li>
									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="middlecontainer" style="background: url('img/womanspeakingtocrowd.jpg') fixed; background-size: cover; min-height: 500px; min-width: 420px;">
				<div class="container">
					<br><br>
					<div class="row">
						<div class="col-lg-12">
							{% if data != None %}

							<div class="row">
								<div class="col-lg-12">
									{% if data["status"] == "TICKET_AVAILABLE" or data["status"] == "WAITLISTED" or data["status"] == "ALREADY_ALLOTTED" %}
									<div style="background:#d8ffd8; color:green; padding: 20px; font-family: 'Work Sans', sans-serif; border-radius: 10px; border: 5px solid green;">

									{% elif data["status"] == "SALE_OVER" %}
									<div style="background:#ff6666; color:white; padding: 20px; font-family: 'Work Sans', sans-serif; border-radius: 10px; border: 5px solid red;">

									{% else %}
									<div style="background:#4c4cff; color:white; padding: 20px; font-family: 'Work Sans', sans-serif; border-radius: 10px; border: 5px solid #00007f;">
									{% endif %}
									
										<span style="font-size: 40px; vertical-align: middle;"> </span> {{ data["message"] }}
										</div>
									<br><br>
								</div>
							</div>

							{% endif %}
							<div class="row">
								<div class="col-lg-12">
									<h3 style="font-family: arial, sans-serif; color: white; letter-spacing: 4px; padding: 10px; padding-top: 0px; font-weight: 800;">Get Your Ticket!</h3>
									<h5 style="font-family: 'Raleway', sans-serif; color: white; padding-left: 10px;">
										
										One ticket includes the following:- <br>
										<ul>
											<li>Pass for one person</li>
											<li>An exclusive TEDxIIITD T-shirt</li>
											<li>Buffet Dinner by <i>koi toh hoga</i></li>
											<li>Unlimited tea and a snack box by <i>koi toh dedo</i></li>
											<li>kuch kuch nakli coupons</li>
											<!-- <li><i>Frapp</i> coupons worth Rs. 1000</li> -->
										</ul>
										Did we mention Ten amazing speakers, and an amazing theme? <br>
										<strong>
											Grab'em already!
										</strong>
										<br><br>
										<h6 style="font-family: 'Raleway', sans-serif; color: white; padding-left: 10px;">
											General Instructions:-
											<ol>
												<li>You'll be asked to login using Google. </li>
												<li>A ticket will be allotted only if the user is logged in using a valid IIITD account.</li>
												<li>The payment must be made by the 14th of March to one of the following <br><br>
													<table cellpadding="5">
														<tr>
															<td><b>Contact :</b></td>
														</tr>
														<tr>
															<td>Shubhang Sati</td>
															<td> : 78388 16965</td>
														</tr>
														<tr>
															<td>Angel Walia</td>
															<td> : 98701 44299</td>
														</tr>
														<tr>
															<td>Ayushman Pandita</td>
															<td> : 98719 18003</td>
														</tr>
														<tr>
															<td>Manan Gupta </td>
															<td> : 92050 06742</td>
														</tr>
													</table>
												 </li>
											</ol>
										</h6>

									</h5>
									<br>
									<br>
									<a href="/flashsalelogin">
										<button class="btn btn-success" style="padding: 10px 40px; border-radius: 20px;">
											Get your pass now! *
										</button>
									</a>
									<br>
									<span style="color: white; font-family: 'Raleway', sans-serif; font-size: 15px; padding-left: 20px;">
										*only for people from IIITD
									</span>
									<br><br>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer" style="background: white; background-repeat: no-repeat; background-image: url('img/iiitdtransparentblack1.png'); background-position: right;">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4" style="padding: 20px;">
						<img src="img/logosmaller.png" style="max-width: 100%;">
					</div>
					<div class="col-lg-4 col-md-6 offset-lg-4 offset-md-2">
						<ul class="footermenu">
							<div class="row">
								<li><a href="/partners" style="color: red; text-decoration: none; border-bottom: none;">PARTNERS</a></li>
								<li><a href="/tickets" style="color: red; text-decoration: none; border-bottom: none;">TICKETS</a></li>
								<li><a href="/underconstruction" style="color: red; text-decoration: none; border-bottom: none;">FAQ</a></li>
							</div>
							<div class="row" id="iconscons">
								<style type="text/css">
									div#iconscons li a{
										border-bottom: 0;
										background: #eee;
										padding: 10px;
										border-radius: 20px;
									}
								</style>
								<li><a href="https://www.facebook.com/TEDxIIITD/"><i class="fa fa-facebook" style="font-size: 20px;"></i></a></li>
								<li><a href="https://www.youtube.com/channel/UCAPMpcmfZN_zrZ8B62pm6HA"><i class="fa fa-youtube" style="font-size: 20px;"></i></a></li>
								<li><a href="https://www.instagram.com/tedxiiitd/"><i class="fa fa-instagram" style="font-size: 20px;"></i></a></li>
							</div>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<br>
						<div class="row">
							<div class="col-lg-12 col-md-12">
								<a href="mailto:tedx@iiitd.ac.in">tedx@iiitd.ac.in</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="background: rgba(255, 255, 255, 0.9); display: inline-block;">
					<div class="col-lg-12 col-md-12" style="font-family: 'Fira Sans', sans-serif; ">
						This independent TEDx event is operated under licence from TED.
					</div>
				</div>
				<br><br>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
		<script src="https://use.fontawesome.com/2c00ed3864.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
		<script src="https://js.instamojo.com/v1/button.js"></script>
		<script type="text/javascript">
			/*
			$(document).ready(function() {
				var x = $(window).innerHeight() - ($("#navigationbarcontainer").height() + $(".footer").height())
				x += "px";
				$("#middlecontainer").css("height", x);
			});

			$(window).resize(function() {
				var x = $(window).innerHeight() - ($("#navigationbarcontainer").height() + $(".footer").height())
				x += "px";
				$("#middlecontainer").css("height", x);
			});*/


			function scrollto(id) {
				var etop = $('#' + id).offset().top;
				$('html, body').animate({
					scrollTop: etop
				}, 1000);
			}

			$.validate({
				lang: 'en'
			});

		</script>
	</body>
</html>